.announcement-bar {
  &__wrapper {
    background-color: var(--quaternary);
    color: var(--secondary);

    &.above-main-container {
      margin-bottom: var(--space-6);
    }
  }

  &__container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: var(--space-3);

    &.--wrapped {
      align-items: flex-start;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    column-gap: var(--space-4);
    row-gap: var(--space-3);
  }

  &__text {
    font-size: var(--font-up-1);
    text-align: center;
  }

  &__close a {
    color: var(--secondary);
    padding: var(--space-2);
  }
}
